{{> header }} {{> sidebar }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Welcome to ServiceMeow<i class="fas fa-cat"></i></h1>
  </div>

  <h2>What is this?</h2>
  <p>This is a small <strong>proof-of-concept</strong> application intended to demonstrate how an enterprise can provide
  self-service SAML app registration to its developer teams</p>

  <h2>Why make this?</h2>
  <p>
    This is another great way to provide automation, security controls, and to empower developers. Instead of waiting potentially weeks
    for a manual approval to take place, application teams can submit a request and have it fulfilled instantly. All of restrictions
    that we want to have in place on Azure AD enterprise applications can be built into the code along with all of the record keeping
    that an enterprise might require.
  </p>

  <p>
    While users are submitting requests for a new SAML app registration, we can also provide guidance and references to
    best security practices when they start their implementation.
  </p>

  <h2>How does it work?</h2>
  <p>It makes a series of API calls to the Azure graph API. Special thanks to this guide:
    <a href="https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api">https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api</a>
  </p>

  <p>
    To figure out who owns and can edit application settings, I create a database entry. While I would prefer to keep the app completely stateless
    I wasn't able to find exactly what I needed directly from the graph API.
  </p>

  <p>
    Here is a code snippet. I abstracted some of the graph API calls into higher level functions. This code runs when you make a form
    submission to create a new SAML application.
  </p>
  <pre>
    <code class="javascript">
      // creates an Azure Ad enterprise app
      const enterpriseApp = await this.createApplication({
        displayName: opts.displayName
      })
      const { application, servicePrincipal } = enterpriseApp
  
      // sets the single-sign-on mode to SAML
      await this.setSamlSSOSettings(servicePrincipal.id)
  
      // sets the ACS or reply urls (where the SAML assertion is sent)
      await this.setSAMLUrls(application.id, opts.identifierUris)
  
      // Adds a signing certificate. It can be a cert provided by an enterprise PKI system
      await this.setSigningCertificate(servicePrincipal.id)
  
      // Adds an application owner. This adds an owner to the app in Azure AD
      await this.addAppOwner(application.id, opts.ownerId)
  
      // For this proof-of-concept, I also save the owner information in
      // my own database to expand access control features and for faster lookups
      await this.container.items.create({
        id: application.id,
        servicePrincipalId: servicePrincipal.id,
        displayName: opts.displayName,
        ownerId: opts.ownerId
      })
      console.log('successfully created app and added to db')
    </code>
  </pre>

  <p>See <a href="https://github.com/briansimoni/service-meow/blob/654c3a36deea6ce4238e218200da890b208b4ee0/saml.js#L192">GitHub</a></p>

  <h2>Tech Stack</h2>
  <ul>
    <li><a href="https://nodejs.org/">Node.js 14.x</a></li>
    <li><a href="https://koajs.com/">Koa web framework</a></li>
    <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap5 beta</a> and <a href="https://handlebarsjs.com/">Handlebars</a> for UI</li>
    <li>Federated sign-on enabled with Azure AD and Open ID Connect</li>
    <li><a href="https://azure.microsoft.com/en-us/services/app-service/">Azure App Services</a> (for hosting)</li>
    <li><a href="https://azure.microsoft.com/en-us/services/cosmos-db/">Cosmos DB</a></li>
  </ul>

  <h2>Other Notes/Findings</h2>
  <p>
    During this experiment, I was unable to find any true limitations preventing an enterprise from truly providing self-service app registration
    into Azure AD. While at times I think the graph API could be more intuitive, it offers everything that you need to build a self-service portal.
  </p>
  <p>The "ownership" of applications may continue to be an interesting problem. There is a concept of application ownership
    built into Azure, but querying for apps based on who the owner is might not be possible. Owners can be individual microsoft accounts
    but, group ownership is not supported. Additonally, granting an employee ownership of an application might provide
    a way to circumvent some of the controls that a self-service portal might aim to enforce.
  </p>

  <h2>Who Are <strong>You?</strong></h2>
  <pre>
  <code class="javascript">
{{ rawUser }}
  </code>
  </pre>

</main>

{{> footer }}
