{{> header }} {{> sidebar }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">OAuth/OIDC</h1>
  </div>

  <div class="alert alert-warning" role="alert">
    Not available in this POC
  </div>

  <p>
    Enabling self-service for OpenID Connect or OAuth applications would probably be even easier. In my experience,
    there are far less variances in an OIDC configuration than SAML configurations. For instance, the set of claims
    that OIDC relying parties expect tend to be inline with the standard while many SAML apps look for small differences.
  </p>

  <p>
    OpenID Connect and OAuth also provide solutions where SAML may not. Single page apps, devices without keyboards etc...
    The protocol tends to be developer friendly as well. I was able to turn it on for this portal using a few lines of code
    having never used Azure AD before. By extension, self-service OIDC might better serve developers and future technology decisions.
  </p>

</main>

{{> footer }}
