{{> header }} {{> sidebar }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">SAML Apps</h1>
  </div>

  <h2>These are the SAML apps that you own</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>displayName</th>
      </tr>
    </thead>
    <tbody>
      {{#each apps}}
      <tr>
        <td><a href="/saml/{{id}}">{{id}}</a></td>
        <td>{{displayName}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/saml-create"><button class="btn btn-primary">Create a new app</button></a>

</main>

{{> footer }}
