<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/saml">
          <span data-feather="file"></span>
          SAML
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oauth">
          <span data-feather="layers"></span>
          OAuth/OIDC
        </a>
      </li>
    </ul>

  </div>
</nav>
