{{> header }} {{> sidebar }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">SAML Assertion</h1>
  </div>

  <p>
      This page indicates that you have successfully authenticated through Azure Active Directory and your browser
      has been redirected here with the following SAML assertion.
  </p>

<code>
    <pre>
{{assertion}}
    </pre>
</code>
</main>

{{> footer }}
